#escolha-corretor{
    .botoes{
        display: flex;
        @media (max-width: 991px) {
            justify-content: space-between;
        }
        @media (max-width: 768px) {
            display: block;
        }
        .buttonSalvar {
            font-weight: 600;
            color: #fff;
            background-color: #0065dd;
            border: none;
            padding: 13px 33px;
            border-radius: 4px;
            float: right;
			cursor: pointer;
		}

		.buttonSalvar[disabled] {
			cursor: default;
		}
		
        .buttonBack {
            font-weight: 600;
            color: #2E2E2E;
            background-color: white;
            border: 1px solid #2E2E2E;
            padding: 13px 25px;
            border-radius: 4px;
            text-align: start;
        }
    }
    
    .lista-corretores {
        width: 100%;
        height: 400px;
        overflow-y: scroll;
        //direction: rtl;
        @media (max-width: 768px) {
            width: 100%;
            height: auto !important;
        }
        .corretor-card{
            @media (max-width: 768px) {
                width: 100%;
                height: auto !important;
            }
        }
    }
}