@import '../colors.scss';

#footer {
  &.bg-dark {
    --bs-bg-opacity: 1;
    background-color: $gray-2 !important;
    color: $gray-1;
  }
  &.bg-white {
    --bs-bg-opacity: 1;
    background-color: white !important;
    color: #2E2E2E !important;
  }
  &.bg-black {
    --bs-bg-opacity: 1;
    background-color: #2E2E2E !important;
    p{
      color: white !important;
    }
  }
  &.bg-info {
    --bs-bg-opacity: 1;
    color: $gray-1;
  }
  .opacity{
    opacity: 0.4;
  }
  .nav-link {
    color: $black;
    &:hover{
      color: $gray-5;
    }
  }
  .news{
    display: flex;
    @media(max-width: 767px){
      display: block;
      margin-bottom: 150px;
    }
    img{
      padding-top: 10px;
    }
    .news-text{
      display: flex;
      .news-img{
        margin-right: 20px;
        padding-right: 20px;
        &.bg-dark {
          border-right: 2px solid #FD4A19;
          background-color: #c7c7c7 !important;
        }
        &.bg-white {
          border-right: 2px solid #FD4A19;
        }
        &.bg-black {
          border-right: 2px solid #4BB7F1;
        }
        &.bg-info {
          border-right: 2px solid #FD4A19;
        }
      }
    }
    .news-main{
      .news-box{
        display: flex;
        width: 100%;
        @media(max-width: 1043px){
          display: block;
        }
        .news-input{
          border: 2px solid $gray-1;
          border-radius: 6px;
          width: 100%;
          outline: none;
          padding: 9px 10px;
          margin-top: 20px;
          @media(max-width: 1043px){
            width: 100%;
          }
          @media(max-width: 991px){
            float: right;
          }
          @media(max-width: 767px){
            margin-top: 10px;
          }
        }
        .news-button{
          color: white;
          padding: 10px 30px;
          border-radius: 5px;
          margin-top: 20px;
          margin-left: 14px;
          white-space: nowrap;
          &.bg-dark {
            background-color: #FD4A19 !important;
            border: 1px solid #FD4A19;
          }
          &.bg-white {
            background-color: #FD4A19 !important;
            border: 1px solid #FD4A19;
          }
          &.bg-black {
            background-color: #4BB7F1 !important;
            border: 1px solid #4BB7F1;
          }
          &.bg-info {
            background-color: #FD4A19 !important;
            border: 1px solid #FD4A19;
          }
          
          @media(max-width: 1024px){
            float: right;
          }
          @media(max-width: 767px){
            float: right;
            margin-bottom: 10%;
          }
        }
      }
    }
  }
  .line-gray{
    margin: 30px 0;
    &.bg-dark {
      border-top: 2px solid white;
    }
    &.bg-white {
      border-top: 2px solid $gray-1;
    }
    &.bg-black {
      border-top: 2px solid #474747;
    }
    &.bg-info {
      border-top: 2px solid white;
    }
}
  .foot{
    display: flex;
    @media(max-width: 1199px){
      display: block;
    }
    .footer-coluna1{
      p{
        max-width: 70%;
      }
      @media(max-width: 1199px){
        width: auto;
        margin-bottom: 40px;
        margin-left: 10%;
        margin-right: 10%;
      }
      @media(max-width: 767px){
        display: block;
        margin-bottom: 40px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        p{
          width: 270%;
          margin-top: 40px;
        }
      }
      .logos{
        @media(max-width: 767px){
          width: auto;
        }
        .redes{
          @media(max-width: 767px){
            justify-content: center;
            margin-bottom: 15px;
          }
        }
        .main-logo{
          .line-small{
            margin-top: 20px;
            width: 45px;
            @media(max-width: 767px){
              display: none;
            }
            &.bg-dark {
              border-top: 3px solid #FD4A19;
            }
            &.bg-white {
              border-top: 3px solid #FD4A19;
            }
            &.bg-black {
              border-top: 3px solid #4BB7F1;
            }
            &.bg-info {
              border-top: 3px solid #FD4A19;
            }
          }
        }
        img{
          @media(max-width:767px){
            width: auto;
          }
        }
      }
    }
    .footer-coluna2{
      a{
        text-decoration: none;
      }
      @media(max-width: 1199px){
        width: auto;
      }
      @media(max-width: 767px){
        display: block;
        width: 100%;
        margin-left: 0;
        text-align: center;
      }
      .contatos{
        @media(max-width: 767px){
          width: auto;
          margin-bottom: 20px;
        }
      }
    }
  }/* 
  .nav{
    p{
      color: #000000;
    }
  } */
  .border-top{  
    border-top: 1px solid $black !important; 
  }

  .end-footer{
    display: flex;
    justify-content: space-between;
    @media(max-width: 991px){
      display: block;
    }
    @media(max-width: 768px){
      padding: 0 10px;
    }
  }
  
}
