@import '../colors.scss';

#searchBox {
  z-index: 2;
  margin-top: -100px;
  .searchBox {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    margin: 0 auto;
    .buttons {
      margin: 0 auto;
      :first-child {
        border-radius: 10px 0px 0px 0px;
      }
      :last-child {
        border-radius: 0px 10px 0px 0px;
      }
      button{
        padding: 10px;
        height: 48px;
        width: 336px;
        @media (max-width: 576px) { width: 140px; }
        
      }
    }
    .body{
      background: $white;
      border: 1px solid $gray-1;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 1.5rem;
      .form-control__control{
        border: none;
        border-bottom: 1px solid $gray-2;
        border-radius: 0;
        height: 48px;
      }
      .form-control__indicator-separator{ 
        display: none;
      }
      .form-select__control{
        border: 1px solid $gray-2;
        border-radius: 4;
        height: 48px;
        svg {
          margin-left: 10px;
        }
      }
      .form-select__indicator-separator{ 
        display: none;
      }
      .form-select, button{
        height: 48px;
        svg {
          font-size: 24px;
        }
      }
    }
    
  }  
}