@import '../colors.scss';
.cabecalho-contato{
  margin-top: 96px;
  padding: 32px 0;
  background-color: #FAFAFA;
  p{
    margin: 0;
    color: $gray-3;
    span{
      color: $blue-3;
    }
  }
}
#contato{
  p{
    margin: 0;
  }
  
  .mapa-contato{
    border-radius: 12px;
  }
  .title-redes{
    text-transform: uppercase;
    color: $gray-3;
  }
  h4{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      height: 3px;
      width: 48px;
      background-color: $blue-3;
    }
  }
  form{
    label{
      span{
        color: #FF715B ;
      }
    }
    .button-enviar-email{
      width: 100%;
      padding: 9px 12px;
      color: $bg-white;
      background-color: $blue-3;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      

    }
  }
  
}