@import "../styles/colors.scss";

.title {
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  @media (max-width: 767px) {
    font-size: 26px;
  }
}
.buttonSalvar {
  font-weight: 600;
  color: #fff;
  background-color: #0065dd;
  border: none;
  padding: 13px 33px;
}
.row-gray {
  margin: 0;
  border-top: 1px solid #e1e1e1;
}

#cadastro-vendedor {
  .table {
    tr {
      &:last-child {
        border-bottom: transparent;
      }
      td {
        vertical-align: middle;
        text-align: center;
        height: 88px;
        &.days {
          width: 100px;
        }
        &.actions {
          width: 150px;
        }
        .form-check {
          margin: 0;
        }
        &.times {
          .box-times {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:last-child {
              margin-top: 0.5rem;
            }
            .divider {
              margin: 0px 0.5rem;
              span {
                color: $gray-1;
              }
            }
            button {
              margin: 0px 0.5rem;
            }
          }
        }
        &.actions {
          button {
            margin: 0 0.25rem;
          }
        }
      }
    }
  }
}

// input[type=date]::-webkit-datetime-edit-text {
//   -webkit-appearance: none;
//   display: none;
// }
// input[type=date]::-webkit-datetime-edit-month-field{
//   -webkit-appearance: none;
//   display: none;
// }
// input[type=date]::-webkit-datetime-edit-day-field {
//   -webkit-appearance: none;
//   display: none;
// }
// input[type=date]::-webkit-datetime-edit-year-field {
//   -webkit-appearance: none;
//   display: none;
// }
