@import 'colors.scss'; 

.wrapper-corretor{
  position: relative;
  .banner-corretor{
    background-image: url(../assets/internas/cadastro-corretor-teste.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    @media(max-width:768px){
      height: auto;
      background-color: $bg-white;
      background-image: none;
     
    }
    @media only screen and (min-width: 768px) and (max-width: 991px){
      height: auto;
    }
    @media only screen and (min-width: 992px) and (max-width: 1024px){
      height: 450px;
    }
    @media(min-width:1367px){
      height: 800px;
    }
      .content-area{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        
        .box-content{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          @media(max-width:767px){
            text-align: center;
            margin-top: 60px;
            padding: 0 8px;
          }
          .box-title-content {
            width: 470px;
            margin-top: 30px;
            @media (max-width: 767px) {
              padding-top: 20px;
              p {
                color: $bg-black;
              }
            }
            @media only screen and (min-width: 992px) and (max-width: 1024px) {
              width: 315px;
            }
            .btn-cadastrar {
              background-color: $orange-3;
              border: 2px solid $secondary;
              box-sizing: border-box;
              border-radius: 4px;
              padding: 12px 16px;
              color: $secondary;
              text-align: center;
              a {
                text-decoration: none;
                color: $bg-white;
              }
            }
            .subTitle {
              color: $bg-black;
              @media (max-width: 768px) {
                color: $bg-black;
              }
              text-transform: uppercase;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                height: 3px;
                width: 10%;
                background-color: #ff734d;
                @media (max-width: 768px) {
                  position: inherit !important;
                }
              }
            }
            h2 {
              color: $bg-black;
              font-weight: 600;
              @media (max-width: 768px) {
                color: $bg-black;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  bottom: -10px;
                  left: 40%;
                  height: 3px;
                  width: 20%;
                  background-color: #ff734d;
                }
              }
            }
            p {
              color: $bg-black;
              @media (max-width: 768px) {
                color: $bg-black;
                margin-top: 16px;
                h2 {
                  color: $bg-black;
                  font-weight: 600;
                  @media (max-width: 768px) {
                    color: $bg-black;
                    position: relative;
                    &::before {
                      content: "";
                      position: absolute;
                      bottom: -10px;
                      left: 40%;
                      height: 3px;
                      width: 20%;
                      background-color: #ff734d;
                    }
                  }
                }
              }
            }
          }

        }
        .box-form-absolute{
          position: absolute;
          bottom: 0%;
          right: 5%;
          top: 5%;
          z-index: 1;
          
          
          @media(max-width:991px){
            position: unset;
            margin-top: -80px;
          }
        }
        .box-form-fixed{
          position: fixed;
          top: 10%;
          right: 5%;
          @media(max-width:991px){
            position: unset;
          }
        }
        .banner-mobile{
          display: none;
          @media(max-width:768px){
            display: block;
            width: 100%;
            img{
              width: 100%;
            }
          }
        }
      }
  }
  .teste{
    position: relative;
    @media(max-width:768px){
      margin-top: 10px;
    }
    .image-section{
      .image{
        background: url(../assets/internas/fundo.png) no-repeat ;
        background-size: cover;
        width: 100%;
        height:530px;
        @media(max-width:768px){
          display: none;
        }
      }
    }
    .carreira-corretor{
      top: -10%;
      right: 15%;
      position: absolute;
      @media(max-width:768px){
        position: initial;
      }
      .position{
        width: 100%;
        margin-left: auto;
        .card{
          background-color: $bg-white;
          opacity: 0.9;
          width: 100%;
          border-color: 2px solid black ;
          
          .card-body{
            padding: 32px;
            .card-subtitle{
              padding: 20px 0;
              font-weight: 600;
            }
            .card-text{
              margin-top: 20px;
              text-align: justify;
            }
          }
        } 
        .card-subtitle{
          position: relative;
          &::before{
            content: "";
            position: absolute;
            bottom: 0 ;
            left: 0;
            height: 3px;
            width: 10%;
            background-color: #FF734D;
          }
        }
          
      }
    }
  }
  
  .destaques-vantagens{
    background-image:url('../assets/internas/plus-decoratiuon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    @media(max-width:768px){
      margin-top: 60px;
    }
    .card{
      background-color: transparent;
      border: none;
      .card-subtitle{
        padding: 20px 40px 0 40px;
      }
      .box-description{
        background-color: $bg-white;
        border: 1px solid $gray-1;
        text-align: left;
        border-radius: 10px;
        padding: 24px 24px 0 24px ;
        width: 90%;
        margin: 24px 0;
        display: flex;
        p{
          margin-left: 10px;
          padding-bottom: 12px;
          text-align: justify;
        }
      }
      .card-subtitle:after { /* this is the border */
        content:"";
        display:block;
        width: 2em;
        max-width:70%;
        border-bottom: 3px solid #FD4A19;
        margin: 30px 0;
        
      }
    }
    .card-online{
      width: 100%;
      border-radius: 12px;
      background-color: #ff734d;
      padding: 16px;
      .content-img{
        text-align: center;
        width: 100%;
        padding: 0 12px;
        background-color: #ff734d;
        position: relative;
        border-radius: 12px;
        img{
          width: 90%;
          position: absolute;
          top: -125px;
          @media(max-width:768px){
            top: -140px;
          }
          left: 13px;

        }
      }
      .content-online{
        margin-top: 125px;
        ul{
          list-style: none;
          padding: 0;
          li{
            font-size: 32px;
            font-weight: 600;
            color: $bg-white;
            text-align: center;
          }
        }
      }
      


    }
    .card-voce{
      padding: 26px;
      border-radius: 12px;
      border: 1px solid #FF8766;
      background-color: #fff;
      h2{
        font-weight: 600;
        position: relative;
        margin-bottom: 24px;
        &::before{
          content: "";
          position: absolute;
          bottom: -10px ;
          left: 0;
          height: 3px;
          width: 10%;
          background-color: #FF734D;
        }
      }
      .button{
        width: 100%;
        padding: 12px 0;
        background-color: #4BB7F1;
        color: $bg-white;
        border: none;
        text-align: center;
        a{
          text-decoration: none;
          color: $bg-white;
        }
      }
    }
  }
  .corretor-corretor{
    padding: 24px 0;
    background-image: url('../assets/internas/fundo-corretor.png');
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y: bottom;
    @media(max-width:992px){
      background-image: none;
    }
    h1{
      font-size: 40px;
      font-weight: 600;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        bottom: -10px ;
        left: 0;
        height: 3px;
        width: 10%;
        background-color: #FF734D;
      }
    }
    .line{
      padding: 12px;
      background:#FAFAFA ;
      margin-top: 36px;
      p{
        margin: 0;
      }
      button{
        font-weight: 600;
        padding: 12px 24px;
        border: 2px solid #4BB7F1;
        border-radius: 4px;
        background-color: $bg-white;
      }
    }
    .card-corretor-para-corretor{
      position: relative;
      width: 90% !important;
      margin: 0 auto !important;
      display: inherit !important;
      
      .card-body{
        padding: 24px 24px 24px 56px;
        border: 1px solid #E1E1E1;
        border-radius: 10px;
        background-color: $bg-white;
        font-size: 12px;
        height: 300px;
        margin: 0 auto !important;
        
        @media(max-width:768px){
          margin: 0;
        }
        .card-action{
          position: absolute;
          top: 25px;
          left: -12px;
        }
      }
      .card-corretor-title{
        font-size: 20px;
        font-weight: 600;
        color: $bg-black;
      }
      .card-text{
        font-size: 13px;
      }
      
    }

    
  }
  .corretor-parceiro{
    background-image:url('../assets/internas/plus-decoratiuon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 10px;
    h2{
      
      font-weight: 600;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        bottom: -10px ;
        left: 0;
        height: 3px;
        width: 10%;
        background-color: #FF734D;
      }
    }
    .list-corretor{
      padding: 16px 24px;
      border: 1px solid #E1E1E1;
      border-radius: 10px;
      margin: 20px 0;
      background-color: $bg-white;
      p{
        margin: 0;
      }
    }
  }
  .negocios-appe{
    background-color: #FAFAFA;
    padding: 32px 0;
    h2{
      font-weight: 600;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        bottom: -10px ;
        left: 0;
        height: 3px;
        width: 10%;
        background-color: #FF734D;
      }
    }
    .progressbar{
      
        @media(max-width:768px){
         padding: 0;
        }
        li{
          list-style-type: none;
          float: left;
          width: 25%;
          position: relative;
          text-align: center;
          @media(max-width:768px){
            float: initial;
            width: 100%;
          }
          .bol{
            content: counter(step);
            counter-increment:step;
            width: 85px;
            height: 85px;
            color: #4BB7F1;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
            font-size: 36px;
            position: relative;
            z-index: 1;
            &::before{
              content: '';
              position: absolute;
              width: 50px;
              height: 2px;
              background-color:#4BB7F1 ;
              bottom: -20px;
            }
          }
          &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            top: 40px;
            left: -50%;
            z-index: 0;
            @media(max-width:768px){
              content: none;
            }
          }
          &:first-child{
            &::after{
              content: none;
            }
          }
          &.active{
            color: #3BC14A;
            &::before{
              border: 1px solid #3BC14A;
            }
            &::after{
              background-color: #3BC14A;
            }
           
            .bol{
              color: #3BC14A;
              &::before{
                background-color:#3BC14A;
              }
            }
            
          }
          .content{
            margin-top: 30px;
            .content-title{
              margin:0;
              font-weight: 600;
            }
          }
          .content{
            .accordion-item{
              background-color: transparent;
              border: none;
              text-align: center;
              cursor: pointer;
              .accordion-body{
                text-align: center;
                padding: 12px 24px;
                span{
                  font-size: 14px;
                }
                p{
                  color: $gray-3 !important;
                }
                
                
                
              }
            }
          }
        }
      
     
    }

  }
  .newsletter{
    padding: 32px 0;
    
    .email{
      position: relative;
      &::after{
        content: '';
        position: absolute;       
        width: 2px;
        right: -10px;
        height: 100%;
        background-color: #FD4A19;
      }
    }
    .content-email{
      padding: 12px 24px 0 24px;
      
      
      .title-newsletter{
        margin: 0;
        font-weight: 600;

      }
      p{
        margin: 0;
      }
    }
    input{
      width: 70%;
      @media(max-width:768px){
        width: 100%;
      }
    }
    button{
      background-color: #0065DD;
      color: $bg-white;
      border: none;
      padding: 12px 24px;
      @media(max-width:768px){
        width: 100%;
      }
    }
  }
  .diferenciais-anuncios-corretor{
    table{
      color:$gray-3;
      thead{
        tr{
          border: transparent;
          th{
            font-weight: 400 !important;
            text-align: center;
          }
        }
      }
      tbody{
        border: none !important;
        td{
          border-bottom: 1px solid $gray-1;
          padding: 24px 0;
          text-align: center;
        }
        .first-column{
          text-align: left;
        }
      }
  
    }
    
  }
}
