#cadastroImovel {
  .texto {
    text-align: justify;
  }
  .title:after {
    content: "";
    display: block;
    width: 2em;
    max-width: 70%;
    border-bottom: 3px solid black;
  }
  .sectionCardImovel {
    background-color: #fafafa;
    padding: 30px 0;
    width: 100%;
    .colunaSituacao {
      @media (max-width: 992px) {
        text-align: center;
        padding-top: 20px;
        .cardTitle::after {
          display: none;
        }
        .cardTitle {
          margin-bottom: 15px;
        }
      }
    }

    .cardSubtitle {
      color: #adadad;
      margin-bottom: 5px;
      font-size: small;
    }
    .cardTitle::after {
      content: "";
      display: block;
      width: 2em;
      max-width: 70%;
      border-bottom: 3px solid #4bb7f1;
      margin: 10px 0 15px 0;
    }
    .linha-vertical {
      border-left: 1px solid #e1e1e1;
      margin-left: 30px;
    }
    .linha-vertical-azul-left {
      border-left: 1px solid  #4BB7F1;
      margin-left: 30px;
    }
    .linha-vertical-azul-right {
      border-right: 1px solid #4BB7F1;
      margin-right: 30px !important;
    }
  }
  .row-gray {
    margin: 0;
    border-top: 1px solid #e1e1e1;
  }
}
