#perguntas-frequentes{
    background-color: #FAFAFA;
    .banner{
        //background-image: url();
        background-color: black;
        padding: 20px 0;
        @media (max-width: 1399px){
            max-width: 100%;
            margin-left: 0;
        }
        .text{
            max-width: 60%;
            margin-left: 20%;
            padding: 50px 0;
            .banner-title{
                color: white;
                @media(max-width: 471px){
                    font-size: 32px;
                }
            }
            .banner-title:after { /* this is the border */
                content:"";
                display:block;
                width: 2em;
                max-width:70%;
                border-bottom: 3px solid #4BB7F1;
                margin: 20px 0;
            }
            .banner-text{
                color: white;
            }
            .pesquisa{
                color: white;
                display: flex;
                @media(max-width: 471px){
                    display: block;
                }
                .campo{
                    height: 46px;
                    margin-right: 10px;
                    align-self: end;
                }
                .search{
                    color: white;
                    background-color: #4BB7F1;
                    border: 1px solid #4BB7F1;
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-top: 20px;
                    margin-right: 10px;
                    white-space: nowrap;
                }
            }
            
        }
        
    }
    .duvidas-gerais{
        .duvidas-title:after { /* this is the border */
            content:"";
            display:block;
            width: 2em;
            max-width:70%;
            border-bottom: 3px solid #4BB7F1;
            margin: 20px 0;
        }
        button{
            color: #2E2E2E;
            font-weight: 600;
            border: 1px solid #E1E1E1;
        }
    }
    .secoes{
        .secoes-title{
            color: #ADADAD;
            font-weight: 500;
            margin-bottom: 50px;
        }
        .secoes-title:after{
            display: inline-block;
            content: "";
            border-top: 3px solid #E1E1E1;
            width: 85%;
            transform: translateY(-50%);
            @media (max-width: 1399px){
                width: auto;
            }
        }
        .secao-compradores {
            h4{
                margin-bottom: 30px;
            }
            p{
                color: #ADADAD;
                text-align: justify;
                padding-right: 20px;
            }
            .linha{
                border-right: 2px solid #E1E1E1;
                margin-right: 20px;
                @media(max-width: 991px){
                    border-right: none;
                }
            }
            .lista-botoes{
                display: flex;
                button{
                    border: 1px solid #E1E1E1;
                    background-color: white;
                    padding: 10px 0 10px 20px;
                    min-width: 300px;
                    margin-bottom: 10px;
                    margin-right: 15px;
                    border-radius: 6px;
                    text-align: left;
                    position: relative;
                }
                @media(max-width: 767px){
                    display: block;
                }
            }
        }
        .secao-compradores:after{
            content:"";
            display:block;
            width: 100%;
            border-bottom: 3px solid #E1E1E1;
            margin: 20px 0;
        }
        .secao-corretores {
            h4{
                margin-bottom: 30px;
            }
            p{
                color: #ADADAD;
                text-align: justify;
                padding-right: 20px;
            }
            .linha{
                border-right: 2px solid #E1E1E1;
                margin-right: 20px;
                @media(max-width: 991px){
                    border-right: none;
                }
            }
            .lista-botoes{
                display: flex;
                button{
                    border: 1px solid #E1E1E1;
                    background-color: white;
                    padding: 10px 20px;
                    min-width: 300px;
                    margin-bottom: 10px;
                    margin-right: 15px;
                    border-radius: 6px;
                    text-align: left;
                    position: relative;
                }
                
                @media(max-width: 767px){
                    display: block;
                }
                .teste{
                    display: inline-block;
                }
            }
            .linha-vertical{
                border-left: 2px solid #E1E1E1;
            }
        }
        
    }
}