@import "../../../colors.scss";
#contratos-corretor {
  .table-responsive {
    margin: 1rem;
    .table {
      thead {
        tr {
          th {
            border-bottom: $gray-1 2px solid;
            font-weight: 300;
            font-size: 12px;
            line-height: 140%;
            color: $gray-3;
          }
        }
      }
      tbody {
        tr {
          td {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $black;
            vertical-align: middle;
          }
        }
      }
    }
  }
  #modalArquivo {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin-right: 0.5rem;
      }
    }
  }
  .meus-imoveis {
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    .filtro-corretor {
      display: flex;
      padding: 0 20px;
      @media (max-width: 465px) {
        display: block;
      }
      .campo-filtro {
        border: none;
        border-bottom: 2px solid #e1e1e1;
        width: 80%;
        margin-right: 14px;
        outline: none;
        @media (max-width: 465px) {
          margin: 0;
          margin-bottom: 10px;
          text-align: center;
          width: 100%;
        }
      }
      .buttonBuscar {
        font-weight: 400;
        color: #fff;
        background-color: #0065dd;
        border: none;
        padding: 10px;
        border-radius: 5px;
        margin-left: 20px;
        width: 20%;
        @media (max-width: 465px) {
          margin: 0;
          width: 100%;
        }
      }
    }
    .buttonMais {
      font-weight: 400;
      border: 1px solid #e1e1e1;
      background-color: white;
      padding: 10px 20px;
      border-radius: 5px;
      margin-left: 20px;
      @media (max-width: 768px) {
        width: 100%;
        margin: 0;
      }
    }
    .campo-select {
      padding: 10px 0 10px 10px;
    }
    .blue-filter {
      margin-bottom: 10px;
      justify-content: space-between;
      .second-filter {
        justify-content: right;
      }
      @media (max-width: 1000px) {
        .first-filter {
          justify-content: center;
        }
        .second-filter {
          justify-content: center;
        }
      }
      .caixa-select {
        border: none;
        color: #4bb7f1;
      }
      p {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
    .line-gray {
      border-top: 2px solid #e1e1e1;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .lista-corretores {
      margin-left: 20px;
      margin-right: 20px;
      background-color: #fafafa;
      padding: 20px;
      @media (max-width: 768px) {
        margin: 0;
      }

      .lista-cards {
        padding: 0 30px 20px 50px;
      }
    }
    .status-page {
      p {
        margin: 0;
        color: $gray-3;
        span {
          color: $bg-black;
        }
      }
    }
    .status-information {
      margin: 0;
      color: $gray-3;
      font-size: 12px;
    }
  }
}
