@import "../../../colors.scss";

button.close {
  position: absolute;
  right: 0px;
  border: 0;
  width: 30px;
  height: 30px;
}

#corretorSobreVoce,
#corretorAtuacao,
#dadosBancarios {
  .table {
    tr {
      &:last-child {
        border-bottom: transparent;
      }
      td {
        vertical-align: middle;
        text-align: center;
        height: 88px;
        &.days {
          width: 100px;
        }
        &.actions {
          width: 150px;
        }
        .form-check {
          margin: 0;
        }
        &.times {
          .box-times {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:last-child {
              margin-top: 0.5rem;
            }
            .divider {
              margin: 0px 0.5rem;
              span {
                color: $gray-1;
              }
            }
            button {
              margin: 0px 0.5rem;
            }
          }
        }
        &.actions {
          button {
            margin: 0 0.25rem;
          }
        }
      }
    }
  }
  label,
  p {
    span {
      color: $secondary;
    }
  }
  .btn-especialidades {
    display: flex;
    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 160px;
      height: 160px;
      border: 1px solid $gray-3;
      border-radius: 6px;
      font-size: 16px;
      color: $gray-3;
      margin: 0.5rem;
      &.active {
        background: $info;
        color: $white;
        border: 1px solid $blue-2;
      }
      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .card.card-lateral {
    .card-progress {
      border-radius: 6px;
      .progress {
        height: 7px;
        .progress-bar {
          height: 4px;
        }
      }
    }
    p.content {
      font-size: 12px;
      color: $gray-3;
    }
    .card-header:first-child {
      border-radius: 5px 5px 0px 0px;
    }
    .card-sucesso {
      border-radius: 6px;
      .card-header {
        span {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
    .card-incompleto {
      border-radius: 6px;
      border: 1px solid $gray-3;
      color: $black;
      .card-header {
        background: $gray-1;
        border-bottom: none;
        span {
          font-size: 12px;
          font-weight: 300;
        }
      }
      .card-body {
        p {
          font-size: 16px;
          font-weight: 400;
          color: $gray-5;
          &.ok {
            color: $gray-3;
          }
        }
      }
    }
  }
  .action-button {
    button {
      font-weight: 600;
      font-size: 16px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin-left: 10px;
        font-size: 20px;
      }
    }
  }
  .form-check {
    margin-bottom: 0.5rem;
    label {
      position: relative;
      top: 2px;
      font-size: 16px;
    }
  }
  .form-label.label-nome {
    font-size: 16px;
    font-weight: 400;
  }

  .select-multi__multi-value {
    font-size: 16px;
    font-weight: 400;
    color: $white;
    background-color: $primary;
    padding: 4px 6px;
    border-radius: 3px;
    .select-multi__multi-value__label {
      color: $white;
      font-size: 16px;
      font-weight: normal;
    }
    .select-multi__multi-value__remove {
      color: $white;
      border-left: 1px solid $blue-2;
      margin-left: 6px;
      padding-left: 8px;
      svg {
        width: 24px;
        height: 24px;
      }
      &:hover {
        color: $blue-1;
        background-color: $primary;
      }
    }
  }
  .btn-outline-gray {
    color: $gray-3;
    border-color: $gray-3;
    &:hover {
      color: $white;
      border-color: $primary;
      background-color: $primary;
    }
  }
  .btn-trash {
    color: $gray-3;
    &:hover {
      color: $primary;
    }
  }
  .box-checked-row {
    .form-check-label {
      font-size: 15px;
    }
  }
  .activeSelect {
    border: solid 1px #318cf7;
    .box-input-checked {
      background-color: #d9f2ff;
    }
  }
}

#stepper-corretor {
  .card-header {
    color: $gray-5;
    a {
      color: $gray-5;
      text-decoration: none;
      &:hover {
        color: $gray-4;
      }
    }
    &.text-white {
      color: $white;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $gray-s;
        }
      }
    }
  }
  .card-text {
    font-size: 16px;
    font-weight: 400;
    color: $gray-5;
    a {
      color: $gray-5;
      text-decoration: none;
      &:hover {
        color: $gray-4;
      }
    }
    svg {
      margin-left: 0.25rem;
    }
    &.text-success {
      color: $success !important;
      a {
        color: $success;
        text-decoration: none;
        &:hover {
          color: $teal;
        }
      }
    }
  }
}
