@import "../../colors.scss";
#meuCorretor{
.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        border: 2px solid #4bb7f1 !important;
        box-shadow: -20px -20px 40px rgba(217, 242, 255, 0.2), 20px 20px 40px #c7c7c7;
    }
    
    @media (max-width: 769px) {
        text-align: center;
     }
    .teste{
    @media (max-width: 1200px) {
        width: 100%;
    }
     }
    .card-body{
        padding-bottom: 0;
        padding-left: 40px;
        min-width: 500px;
        @media (max-width: 1500px) {
            padding-left: 70px;
        }
        @media (max-width: 1305px) {
            display: inline-block;
        }
        @media (max-width: 769px) {
            text-align: center;
            
        }
        @media (max-width: 570px) {
            text-align: center;
            padding-left: 0%;
        }
    }
    .card-img{
        height: 220px;
        width: 220px;
    }
}
    
.button-favorite{
    position: absolute;
    left: 0.8rem;
    top: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 10rem;
    color: #FF715B;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: $white;
    border: 1px solid #FF715B;    
    transition: color 0.15s ease-in-out, 
    background-color 0.15s ease-in-out, 
    border-color 0.15s ease-in-out, 
    box-shadow 0.15s ease-in-out;
    &:hover{
      color: $white;
      background-color: #FF715B;
    }
}

.div-scroll {
    width: 100%;
    height: 370px;
    overflow-y: scroll;
}

.info-imovel{
    .teste{
        @media (max-width: 880px) {
            display: block;
            text-align: center;
         }
    }
    
    .box-imoveis{
        background-color: #E1E1E1;
        padding: 6px 52px;
        width: 95%;
        height: 15%;
        border-radius: 10px;
        text-align: center;
        margin: 15px 0;
        @media (max-width: 990px) {
            padding-top: 10px;
         }
         @media (max-width: 480px) {
            padding-top: 20px;
         }
         @media (max-width: 462px) {
            padding: 20px;
         }
         @media (max-width: 366px) {
            padding-top: 8px;
         }
    }
    .status-imovel{
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        width: 95% !important;
        cursor: pointer;
        @media (max-width: 880px) {
            display: block;
            text-align: center;
         }
        .endereco-imovel{
            display: flex;
            justify-content: space-between;
            p{
                margin-bottom: 10px;
                align-self: center;
            }
            @media (max-width: 742px) {
                display: block;
                text-align: center;
             }
            @media (max-width: 480px) {
               display: block;
               text-align: center;
            }
            .imovel-mini{
                border-radius: 50px;
                height: 40px;
                width: 40px;
                border: 1px solid #4bb7f1;
                margin-right: 10px;
            }
        }
        .valores-imovel{
            display: flex;
            justify-content: space-around;
            @media (max-width: 742px) {
                display: block;
                text-align: center;
             }
            @media (max-width: 480px) {
                display: block;
                text-align: center;
             }
            .valores-title{
                font-size: small;
                margin-bottom: 5px;
                
            }
            .data-update{
                text-align: end;
                @media (max-width: 742px) {
                    text-align: center;
                 }
                @media (max-width: 480px) {
                    text-align: center;
                 }
            }
            .valores-real{
                text-align: center;
            }
        }
    }
}
.contato-corretor{
    padding-top: 20px;
    p{
        color: #ADADAD;
        margin-bottom: 10px;
    }
    @media (max-width: 769px) {
        text-align: center;
        display: block;
        padding-top: 10px;
     }
    .contato-icons{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        @media (max-width: 769px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
         }
        .icon-box{
            border: 1px solid #2E2E2E;
            border-radius: 5px;
            width: 42px;
            height: 42px;
            text-align: center;
            padding-top: 5px;
            @media (max-width: 769px) {
                margin-top: 3px;
                margin-right: 2px;
            }
        }
    }
}
}