@import '../../colors.scss'; 
#meuimovel{
  margin: 20px 0;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid $gray-2;
  @media(max-width:768px){
    text-align: center;
  }
  .card-header{
    background-color: $bg-white;
    .action{
      button{
        border: none;
        background-color: #fafafa;
        padding: 8px;
        margin: 3px;
      }
    }
    .information{
      span{
        color: $gray-3;
        font-size: 12px;
      }
      button{
        border: none;
        background-color: transparent;
      }
    }
  }
  .card-body{
    span{
      font-size: 12px;
      color: $gray-3;
    }
    .content-dados{
      // width: 30%;
      position: relative;
      @media(max-width:768px){
        width: 100%;
      }
      // &::before{
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: -8%;
      //   height: 100%;
      //   width: 1px;
      //   background-color:$gray-3 ;
      //   @media(max-width:768px){
      //     display: none;
      //   }
      // }
    }
    .content-dados-corretor{
      // width: 40%;
      @media(max-width:768px){
        width: 100%;
      }
      .content{
        padding: 12px;
        background-color: #fafafa;
        border-radius: 6px;
        .content-title{
          background-color: #E1E1E1;
          text-align: center;
          padding: 6px 0;
          border-radius: 6px;
          p{
            margin: 0;
          }
        }
        .content-comprador{
          border-radius: 6px;
          border: 1px solid $gray-1;
          background-color: $bg-white;
          padding: 6px 10px;
          .content-information{
            margin: 6px 0;
            
            .img-comprador{
              width: 32px ;
              height: 32px;
              border: 1px solid #4BB7F1;
              border-radius: 50%;
              margin-right: 5px;
            }
            .img-vendedor{
              width: 32px ;
              height: 32px;
              border: 1px solid $orange-3;
              border-radius: 50%;
              margin-right: 5px;
            }
            .content-name-comprador{
              span{
                color: #4BB7F1;
                font-size: 12px;
              }
              p{
                margin: 0;
                font-size: 16px;
              }
            }
            .content-name-vendedor{
              span{
                color: $orange-3;
                font-size: 12px;
              }
              p{
                margin: 0;
                font-size: 16px;
              }
            }
  
          }
          .links{
            .link{
              border: none;
              background-color: transparent;
              border-radius: 6px;
              border: 1px solid $gray-1;
              padding: 8px;
              &.whatsapp{
                background-color: #3BC14A;
              }
            }
          }
          hr{
            margin: 10px 0;
          }
        }
      }
    }

  }
  
}