@import '../../colors.scss';

#sidebar{ 
  height: 100%;
  width: 272px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: $black;
  color: #fff;
  transition: width 500ms;
  @media (max-width:768px){
    width: 96px;
    left: -100%;
  }
  .sidebar-header{
    height: 60px;
    padding: 0rem 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    .brand {
      img{
        fill: #fff;
      }
    }
    
  }
  .sidebar-menu{
    padding: 1rem 0;
    ul{
      text-decoration: none;
      list-style-type: none;
      padding: 0;
      li{
        padding: 1rem;
        &:hover{
          background-color: #4BB7F1;
          a{
            color: $bg-white;
          }
        }
        a{
          text-decoration: none;
          color: $gray-2;
          font-size: .9rem;
          span{
            &:last-child{
              padding-left: .6rem;
            }
          }
        }
      }
    }
  }
}
#sidebar-toogle{
  &:checked{
    ~{
      .sidebar{
        .sidebar-header{
          display: flex;
          justify-content: center;
          
        }
      }
      .sidebar{
        li{
          display: flex;
          justify-content: center;
          a{
            @media(max-width:768px){
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 12px;
            }
            span{
              &:last-child{
                display: none;
                @media(max-width:768px){
                  display: block;
                  text-align: center;
                  padding: 0;
                }
              }
            }
          }
        }
      }

      .main-content{
        margin-left: 96px;
      }
    }
  }
}

.main-content{
  position: relative;
  margin-left: 272px;
  transition: margin-left 500ms;
  @media (max-width:768px) {
    margin: 0;
    margin-left: 0px;
  }
}
#sidebar-toogle{
  display: none;
}
.arrow-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  border-radius: 50px;
  position: absolute;
  width: 48px;
  height: 32px;
  right: -22px;
  z-index: 100;
  border: 2px solid $white;
  svg{
    fill: $white;
  }
  @media (max-width:768px) {
    display: none;
  }
}

.buttonUpdate{
  border: 1px solid #ADADAD;
  background-color: white;
  padding: 8px 16px;
  border-radius: 50px;
  color: #ADADAD;
}