@import '../../colors.scss';
#historico{
    background-color: #FAFAFA;
        .head{
            border-bottom: 2px solid #E1E1E1;
            .refresh{
                text-align: end;
                .buttonUpdate{
                    border: 1px solid black;
                    background-color: white;
                    padding: 8px 16px;
                    border-radius: 50px;
                    color: black;
                    text-align: end;
                    @media(max-width: 1181px) and (min-width: 992px){
                        text-align: center;
                    }
                }
            }
            .segmented-control{
                display: flex;
                align-items: center;
                background:  $gray-1;
                border: 1px solid $gray-3;
                border-radius: 42px;
                height: 50px;
                max-width: 250px;
                @media (max-width: 768px) {
                  max-width: 100%;
                  width: 100%;
                }
                margin-bottom: 2rem;
                .item{
                  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                  box-shadow 0.15s ease-in-out;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex: 1;
                  border-radius: 42px;
                  padding: 0.5rem;
                  font-size: 1.2rem;
                  color: $gray-3;
                  text-decoration: none;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 140%;
                  margin: 0.25rem;
                  padding-left:  1rem;
                  padding-right:  1rem;
                  &.active{
                    background: $white;
                    color: $gray-1;
                    border: $gray-4 1px solid;
                    box-shadow: -5px -5px 10px rgba(217, 242, 255, 0.2), 5px 5px 10px #C7C7C7;
                    color: $black;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                  }
                  &:hover{
                    color: $gray-4;
                  }
                }
              }
        }
        .imovel{
            margin-bottom: 40px;
            padding: 0 10px;
            .imovel-img{
                padding-right: 40px;
                img{
                    height: 200px;
                    width: 300px;
                }
            }
            .imovel-detalhes{
                padding: 10px 20px;
                @media (max-width: 991px){
                    margin-top: 20px;
                    padding-right: 10px;
                }
                .caracteristicas{
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                }
            }
            .line-gray{
                border-top: 2px solid #E1E1E1;
                margin-bottom: 20px;
            }
            .imovel-corretor{
                padding-left: 30px;
                padding-right: 10px;
                @media (max-width: 991px){
                    padding-left: 0;
                }
                .last-update{
                    font-size: 14px;
                    color: #ADADAD;
                    margin-bottom: 10px;
                    @media (max-width: 991px){
                        margin-top: 20px;
                    }
                }
                img{
                    width: 45px;
                    max-height: 45px;
                    border-radius: 50%;
                    border: 1px solid #4BB7F1;
                    margin: 10px 20px;
                    padding: 0;
                    /* @media (max-width: 1172px){
                        display: none;
                    } */
                }
                .info{
                    display: flex;
                    margin: 0 20px;
                    @media (max-width: 1172px){
                        display: inline-block;
                    }
                    @media (max-width: 991px){
                        display: flex;
                    } 
                    .update-info{
                        p{
                            font-size: 12px;
                            color: #ADADAD;
                            margin: 5px 20px 0 0;
                        }
                    }
                    .contatos{
                        display: flex;
                        
                        .icon-box{
                            border: 1px solid #ADADAD;
                            border-radius: 5px;
                            width: 42px;
                            height: 43px;
                            text-align: center;
                            padding-top: 5px;
                            margin: 3px 3px 0 5px;
                        }
                    }
                }
                
            }
        }
        .corretor{
            .info-corretor{
                max-height: 150px;
                margin-bottom: 20px;
                @media(max-width: 991px){
                    max-height: none;
                }
                .imagem-corretor{
                    border-right: 1px solid #E1E1E1;
                    max-height: 150px;
                    @media(max-width: 991px){
                        max-height: none;
                    }
                    @media(max-width: 991px){
                        border-right: none;
                        max-height: 100px;
                        margin-bottom: 20px;
                    }
                    img{
                        height: 80%;
                        border-radius: 50%;
                        border: 2px solid #4BB7F1;
                        margin: 10px 20px;
                        padding: 0;
                        @media (max-width: 1200px) and (min-width: 992px){
                            height: 60%;
                        }
                        @media(max-width: 991px){
                            height: 100%;
                        }
                    }
                }
                .info-pessoal{
                    padding: 0 20px;
                    .cel-email{
                        padding: 20px;
                        display: flex;
                        p{
                            margin-bottom: 0;
                        }
                        @media(max-width: 767px){
                            display: block;
                            p{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .mais-contatos-corretor{
                    padding-left: 20px;
                    padding-right: 10px;
                    border-left: 1px solid #E1E1E1;
                    @media(max-width: 991px){
                        border-left: none;
                        margin-bottom: 40px;
                    }
                    .last-update{
                        font-size: 14px;
                        color: #ADADAD;
                        margin-bottom: 10px;
                        @media (max-width: 991px){
                            margin-top: 20px;
                        }
                    }
                    .info{
                        display: flex;
                        margin: 0 20px;
                        @media (max-width: 1172px){
                            display: inline-block;
                        }
                        @media (max-width: 991px){
                            display: flex;
                        } 
                        .update-info{
                            p{
                                font-size: 12px;
                                color: #ADADAD;
                                margin: 5px 20px 0 0;
                            }
                        }
                        .contatos{
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            .contatos-icones{
                                display: flex;
                                .icon-box{
                                    border: 1px solid #ADADAD;
                                    border-radius: 5px;
                                    width: 42px;
                                    height: 43px;
                                    text-align: center;
                                    padding-top: 5px;
                                    margin: 3px 3px 0 5px;
                                }
                            }
                            
                        }
                    }
                }
            }
            
        }
        .historico-imovel{
            .busca{
                margin-top: 30px;
                display: flex;
                @media(max-width: 991px){
                    display: block;
                    text-align: center;
                }
                .busca-campo{
                    display: flex;
                    width: 75%;
                    padding: 15px 5px 20px 20px;
                    @media(max-width: 991px){
                        width: 100%;
                    }
                }
                .icone{
                    border-bottom: 2px solid #E1E1E1;
                }
                .campo-filtro{
                    border: none;
                    border-bottom: 2px solid #E1E1E1;
                    width: 100%;
                    @media(max-width: 991px){
                        width: 100%;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .buttonBuscar{
                    font-weight: 400;
                    color: #fff;
                    background-color: #0065DD;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-left: 20px;
                    @media (max-width: 465px) {
                      margin: 0 20%;
                    }
                  }
            }
            .filtros{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                margin-bottom: 20px;
                @media(max-width: 991px){
                    display: block;
                }
                .filtros-fixos{
                    display: flex;
                    @media(max-width: 440px){
                        display: block;
                    }
                    @media(max-width: 768px){
                        margin-right: 20px;
                    }
                    @media(max-width: 991px){
                        text-align: center;
                    }
                    button{
                        font-weight: 400;
                        border: 1px solid #E1E1E1;
                        background-color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        margin-left: 20px;
                        @media(max-width: 768px){
                            margin-top: 10px;
                        }
                    }
                    .ativo{
                            border: 1px solid #22c0e8;
                            background-color: #22c0e8;
                            color: white;
                        
                    }
                }
                .filtro-mais{
                    margin-right: 25px;
                    @media(max-width: 768px){
                        margin-top: 20px;
                    }
                    @media(max-width: 991px){
                        margin-top: 20px;
                        text-align: center;
                    }
                    .buttonMais{
                        font-weight: 400;
                        border: 1px solid #E1E1E1;
                        background-color: #22c0e8;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        margin-left: 20px;
                    }
                }
            }
            .modal-content{
                .modal-title{
                    text-align: center;
                    margin-bottom: 40px;
                }
                .modal-text{
                    .modal-campo{
                        margin-bottom: 30px;
                    }
                    p{
                        margin-bottom: 5px;
                    }
                }
                .modal-button{
                    .buttonMais{
                        font-weight: 400;
                        border: 1px solid #E1E1E1;
                        background-color: #22c0e8;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        margin-right: 20px;
                    }
                    .buttonVoltar{
                        font-weight: 400;
                        border: 1px solid #E1E1E1;
                        background-color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                }
            }
            .historico-lista{
                margin-left: 10%;
                margin-right: 20px;
                @media(max-width: 425px){
                    margin-left: 10px;
                }
                .data{
                    position: absolute;
                    left: -6%;
                    font-size: 12px;
                    padding-top: 20px;
                    @media(max-width: 991px){
                        left: -10%;
                    }
                    @media(max-width: 485px){
                        left: -15%;
                    }
                }
                .accordion-button::after{
                    background-image: none;
                }
                ul.timeline {
                    list-style-type: none;
                    position: relative;
                    margin-bottom: 0;
                    /* @media(max-width: 991px){
                        left: 50px;
                    } */
                }
                ul.timeline:before {
                    content: ' ';
                    background: #d4d9df;
                    display: inline-block;
                    position: absolute;
                    left: 29px;
                    width: 2px;
                    height: 100%;
                    z-index: 400;
                }
                ul.timeline > li {
                    margin: 20px 0;
                    padding-left: 20px;
                }

                li{
                    &:before{ content: ' ';
                        background: #22c0e8;
                        display: inline-block;
                        position: absolute;
                        border-radius: 50%;
                        border: 3px solid #22c0e8;
                        left: 22px;
                        width: 15px;
                        height: 15px;
                        z-index: 400;
                        margin-top: 20px;
                    }
                    &.ativo{
                        &:before{
                            background: white;
                        }
                        p{
                            font-weight: 600;
                        }
                    }
                    
                } 
                .accordion-button{
                    &:focus{
                        box-shadow: none;
                    }
                }
                .conteudo{
                    .texto-explicativo{
                        font-size: 14px;
                        color: #ADADAD;
                    }
                    .comentario{
                        color: #4BB7F1;
                    }
                }
                .accordion-item{
                    border: none
                }
                .accordion-button:not(.collapsed){
                    box-shadow: none;
                    background-color: #E1E1E180;
                }
            }
            .paginas{
                display: flex;
                justify-content: space-between;
                margin: 0 20px;
                @media(max-width: 768px){
                    display: block;
                }
                .status-page{ 
                    p{
                      color: $gray-3;
                      padding-top: 35px;
                      span{
                        color: $bg-black;
                      }
                    }
                }
            }
            .line-gray{
                border-top: 2px solid #E1E1E1;
            }
            .status-information{
                color: $gray-3;
                font-size: 12px;
            }
        }
}