@import "../../colors.scss";
.grapper {
  position: relative;
}
.texto {
  text-align: justify;
}
.pageTitle {
  margin-top: 30px;
  margin-bottom: 0;
}
.buttonUpdate {
  border: 1px solid #adadad;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  color: #adadad;
}
.meus-corretores {
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  .filtro-corretor {
    display: flex;
    padding: 0 20px;
    @media (max-width: 465px) {
      display: block;
    }
    .campo-filtro {
      border: none;
      border-bottom: 2px solid #e1e1e1;
      width: 80%;
      margin-right: 14px;
      @media (max-width: 465px) {
        margin-left: 35px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    .buttonBuscar {
      font-weight: 400;
      color: #fff;
      background-color: #0065dd;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      margin-left: 20px;
      @media (max-width: 465px) {
        margin: 0 20%;
      }
    }
  }
  .buttonMais {
    font-weight: 400;
    border: 1px solid #e1e1e1;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    @media (max-width: 990px) {
      margin: 0 37%;
    }
    @media (max-width: 765px) {
      margin: 0 32%;
    }
    @media (max-width: 508px) {
      margin: 0 30%;
    }
    @media (max-width: 465px) {
      margin: 0 25%;
    }
  }
  .campo-select {
    padding: 10px 0 10px 10px;
  }
  .blue-filter {
    margin-bottom: 10px;
    justify-content: space-between;
    /* .second-filter{
      justify-content: right;
    } */
    @media (max-width: 1000px) {
      .first-filter {
        justify-content: center;
      }
      .second-filter {
        justify-content: center;
      }
    }
    .caixa-select {
      border: none;
      color: #4bb7f1;
    }
    p {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  .line-gray {
    border-top: 2px solid #e1e1e1;
    margin-left: 20px;
  }
  .lista-corretores {
    margin-left: 20px;
    background-color: #fafafa;
    .lista-cards {
      padding: 0 30px 20px 50px;
    }
  }
  .status-page {
    p {
      margin: 0;
      color: $gray-3;
      span {
        color: $bg-black;
      }
    }
  }
  .status-information {
    margin: 0;
    color: $gray-3;
    font-size: 12px;
  }

  .slides-card-meus-corretores {
    position: relative;
    .slick-prev {
      left: -28px;
      position: absolute;
      top: 50%;
      z-index: 10;
      svg {
        color: $white;
        -webkit-filter: drop-shadow(1px 1px 2px #979797);
        filter: drop-shadow(1px 1px 2px #979797);
      }
      &.slick-disabled {
        svg {
          color: $white;
          opacity: 0.3;
          -webkit-filter: drop-shadow(1px 1px 2px #979797);
          filter: drop-shadow(1px 1px 2px #979797);
        }
      }
    }
    .slick-next {
      right: 5px;
      position: absolute;
      top: 50%;
      z-index: 1;
      svg {
        color: $white;
        -webkit-filter: drop-shadow(1px 1px 2px #979797);
        filter: drop-shadow(1px 1px 2px #979797);
      }
      &.slick-disabled {
        svg {
          color: $white;
          opacity: 0.3;
          -webkit-filter: drop-shadow(1px 1px 2px #979797);
          filter: drop-shadow(1px 1px 2px #979797);
        }
      }
    }
  }
}
