@import '../../colors.scss';

#meusImoveisPesqusados {
 .col-filtro {
   .col-label {
     display: flex;
     justify-content: flex-end;
     align-items: center;
   }
   select {
    border: none;
  }
 }
 .contaiter{
   &.empty{ 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vh;
      p{
        font-size: 14px;
        color: $gray-4;
      }
   }
 }
}