@import '../../colors.scss';
#proposta-imovel{
  .content-proposta{
    margin: 16px;
    background-color: #fafafa;
    padding: 16px;
    .subTitle{
      padding: 12px 0;
      border-bottom: 1px solid #e1e1e1;
    }
    .preco{
      h1{
        @media(max-width:768px){
          font-size: 32px;
        }
      }
    }
    .pagamento{
      .Title{
        color: $gray-3;
      }
      .subTitle{
        font-weight: 600;
      }
    }
    p{
      margin: 0;
    }
    .img-proposta{
      width: 100%;
    }
    .table-borderless{
      margin: 0;
      th{
        color: $gray-3;
        font-weight: normal;
      }
    }
    .table-proprietario{
      td{
        color: $gray-3;
        font-weight: normal;
      }
    }
    .table-imovel{
      margin: 0;
      td{
        color: $gray-3;
        font-weight: normal;
      }
    }
    
  }
  .content-contraproposta{
    margin: 16px;
    padding: 16px;
  }
  .button-voltar{
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #2E2E2E;
    background-color: $bg-white;
  }
  .button-continuar{
    padding: 12px 16px;
    border: none;
    background-color: #3BC14A;
    color: $bg-white;
    border-radius: 4px;
    font-weight: 600;
  }
  .button-contra-proposta{
    padding: 12px 16px;
    border: none;
    background-color: $blue-3;
    color: $bg-white;
    border-radius: 4px;
    font-weight: 600;
  }

  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    width: 2px;
  }
  .resume-contra-proposta{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      height: 3px;
      width: 56px;
      background-color: #0065DD;
    }
  }
  .checked-box{
    border-radius: 5px;
    margin-right: 20px;
    border: solid 1px $gray-1;
    padding-right: 20px ;
    color: $gray-4;
    @media(max-width:767px){
      margin-bottom: 5px;
    }
    
    .box-input-checked{
      width: 40px;
      height: 40px;
      background-color: $gray-1;
      margin-right: 10px;
    }
    

  }
  .activeSelect{
    border: solid 1px $blue-2;
    background-color: #D9F2FF !important;

  }
  .form-control{
    border-left: none;
    &:focus{
      outline: none;
      box-shadow: none;
      border: 1px solid #ced4da;
    }
    
  }
  .input-group-text{
    height: 100%;
    background-color: $bg-white !important;
    border: none ;
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid transparent;

  }
  .form-control-text-area{
    border-left: 1px solid #ced4da;
  }
}
#modalCancelamentoProposta{
  .modal-content{
    border-radius: 12px;
    .modal-header{
      background-color: $blue-3;
      border-radius: 12px 12px 0 0;
      h4{
        color: $bg-white;
      }
      .close{
        color: #FFF;
        border: none;
        background-color: transparent;
        font-size: 24px;
      }
    }
    .modal-footer{
      padding: 0;
      border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 2px);
      .buttonCancelar{
        width: 100%;
        margin: 0;
        height: 60px;
        border-radius: 0;
        border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 2px);
      }
    }
  }
  
}
#modalAceitarProposta{
  .modal-content{
    border-radius: 12px;
    .modal-header{
      background-color: $info;
      border-radius: 12px 12px 0 0;
      h4{
        color: $bg-white;
      }
      .close{
        color: $bg-white;
        border: none;
        background-color: transparent;
        font-size: 24px;
      }
    }
    .modal-footer{
      padding: 0;
      border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 2px);
      .buttonAceitar{
        border: none;
        width: 100%;
        margin: 0;
        height: 60px;
        border-radius: 0;
        border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 2px);
        background-color: $orange-3;
      }
    }
  }
  
}
#modalContraProposta{
  .modal-content{
    border-radius: 12px;
    .modal-header{
      background-color: $info;
      border-radius: 12px 12px 0 0;
      h4{
        color: $bg-white;
      }
      .close{
        color: $bg-white;
        border: none;
        background-color: transparent;
        font-size: 24px;
      }
    }
    .modal-footer{
      padding: 0;
      border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 2px);
      .buttonAceitar{
        border: none;
        width: 100%;
        margin: 0;
        height: 60px;
        border-radius: 0;
        border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 2px);
        background-color: $orange-3;
      }
    }
  }
  
}