@import '../../colors.scss';
.meus-imoveis{
  .cabecalho-propostas{
    
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      flex-wrap: wrap;
      padding: 1rem 1.5rem;

      li{
        font-size: 12px;
        color: $gray-3;
        width: 15%;
        text-align: center;
        @media(max-width:768px){
          width: 100%;
        }
      }
      
    }
  }
  .lista-propostas{
    .accordion{
      .accordion-item{
        .list-status{
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          margin: 0;
          flex-wrap: wrap;
          .name-img{
            color: $bg-black;
            font-size: 12px;
            .img-vendedor{
              width: 32px ;
              height: 32px;
              border: 1px solid #4BB7F1;
              border-radius: 50%;
              margin-right: 5px;
            }
          }
          
          .valor-saida{
            color: #FD4A19;
          }
          .valor-aprovado{
            color: #3BC14A;
          }
          li{
            color: $gray-3;
            text-align: center;
            width: 15%;
  
            @media(max-width:768px){
              width: 50%;
              font-size: 12px;
            }
          }
        }
        .card-header{
          background-color: #fafafa;
          .action{
            button{
              border: none;
              background-color: #fafafa;
              padding: 8px;
              margin: 3px;
              color: $gray-3;
              &.active{
                color: $bg-black;
                font-weight: 600;
                position: relative;
                &::before{
                  content: '';
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  background-color: #4BB7F1 ;
                }
              }
            }
          }
          .information{
            span{
              color: $gray-3;
              font-size: 12px;
            }
            button{
              border: none;
              background-color: transparent;
            }
          }
        }
        .accordion-body{
          background-color: #fafafa;
        }
      }
    }
  }
 
  .name-img{
    color: $bg-black;
    .img-vendedor{
      width: 32px ;
      height: 32px;
      border: 1px solid $orange-3;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
  .accordion-button{
    &::after{
      display: none;
    }
  }
  
}